html {
   height: 100%;
}

body {
   background-color: black;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

#main-container {
   height: 100%;
}

#filter-column {
   float: left;
   height: auto;
   white-space: nowrap;
   font-family: sans-serif;
   padding-top: 8px;
   margin-right: 16px;
   width: 248px;
}

#filter-column label {
   color: #c0c5ce;
   margin-left: 8px;
   vertical-align: middle;
}

#filter-column input {
   width: auto;
   background-color: #c0c5ce;
   font-size: 14px;
   display: block;
   float: right;
}

#location-list {
   padding-left: 24px;
}

li {
   padding-top: 8px;
}

li:nth-child(odd) {
    color: #777;
}

li:nth-child(even) {
    color: #c0c5ce;
}

#map {
   height: 100%;
   display: block;
}

.image {
   margin: 0 auto;
   display: block;
}